{% extends 'competition_app/base.html' %}
{% block title %} Log In {% endblock %}
{% block body %}
<!-- Material form login -->
<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="section-title mb-5">
                    <h2>Sign In</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="fname">Username</label>
                            <input type="text" id="fname" class="form-control form-control-lg" name='username' required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="password">Password</label>
                            <input type='password' id='password' class="form-control form-control-lg" name='password' required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Log In" class="btn btn-primary py-3 px-5">
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <h6>Don't Have an account ?? <a href="{% url 'signup' %}">Sign Up</a></h6>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


{% endblock %}